body{ 

    font-family: Poppins;
    background-image: url(../images/body-bg.svg), linear-gradient(152deg, #8909ad -32%, #1f08a2 79%);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: top right;

}

img{

    max-width: 100%;

}

.navbar-right{
    
    margin-right: 0;
    padding-right: 0;

}

.tst-link{
    
    position: relative;
    &:after{
        content: '';
        display: block;
        height:2px;
        background: $clr-white; 
        width:0;
        @include transition(width .4s ease);
        @include position(absolute,auto,0,-1px,0);
    }
    &:hover{

        text-decoration: none;
        
        &:after{
            
            width:100%;
            
        }
    }
}


.tst-btn-style-1{
    

    border-radius: 33px;
    box-shadow: 0 5px 10px 0 transparentize($clr-black, .9)  ;
    background-color: $clr-orange-dark;
    outline: none;
    border: 0;
    color: $clr-white;
    font-size: 12px;
    padding: 8px 24px;    
    @include transition(all .4s ease);

    &:hover,&:active{

        box-shadow: 13px 7px 10px 0px  transparentize($clr-black, .7);
        background-color: darken($clr-orange-dark, 10%); 

    }

}

.tst-btn-style-2{
    
    padding: 15px 40px;
    border-radius: 40px; 
    background: rgb(137,9,173); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(137,9,173,1) 0%, rgba(137,9,173,1) 25%, rgba(31,8,162,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(137,9,173,1) 0%,rgba(137,9,173,1) 25%,rgba(31,8,162,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(137,9,173,1) 0%,rgba(137,9,173,1) 25%,rgba(31,8,162,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    @include transition(all .4s ease);
    border:none;
    outline: none;
    opacity: .9;

    &.btn-sm{
        padding: 5px 20px;
    }
    &:hover,&:active{

       opacity: 1;

    }

}

.tst-vcenter{

    display: inline-block;
    vertical-align: middle;

}

h3.sub-title{
    
    color : $clr-blue-dark1;
    font-size: 18px;
    font-weight: bold;
    margin:0;

}

.tst-table-wrapper{

    @include bpMax('1199px'){

        overflow: auto;
    }
    
}

.tst-no-wrap{

    white-space: nowrap;

}

.tst-checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;

    > span {
        color: #34495E;
        padding: 0.5rem 0.25rem;
    }
    > input {
        height: 20px;
        width: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid $clr-grey;
        border-radius: 4px;
        outline: none;
        transition-duration: 0.3s;
        background-color: $clr-white;
        cursor: pointer;

        &:checked {
            border: 1px solid $clr-black; 

            + span{
                &::before{
                    font-size: 14px; 
                    content:"\f00c";
                    display: block;
                    font-family: FontAwesome;
                    text-align: center;
                    color:$clr-black;
                    position: absolute;
                    left: 3px;
                    top: 5px;
                }
            }
        }

        &:active{

            border: 2px solid #34495E;
        }
    }
}
 
.tst-list-style{

    padding: 0;
    margin:0;
    list-style-type: none;

    li{
        vertical-align: middle;
        margin-bottom: 1.5rem;
        &:before{

            content:"\f058";
            color:$clr-green;
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            display: inline-block; 
            vertical-align: middle;
            margin-right: 10px;
            font-size: 20px;
        }
    }
}