$clr-white : #ffffff;
$clr-purple : #d180f9;
$clr-violet : #734bbe;
$clr-blue-dark : rgb(41, 19, 74);
$clr-blue-dark1 : #174a84;
$clr-blue-light : #a5c9ff;
$clr-blue: #144a8a;
$clr-orange-dark : #d56554;
$clr-orange-light : #ff7c83;
$clr-black : #000000;
$clr-grey : #ddd;
$clr-green : #6ac259;