//! @extend %main-container-width;
%main-container-width{
    
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

//! @include bpMax('768px')
@mixin bpMax($point) {
    @media only screen and (max-width: $point) {
        @content;
    }
}

//! @include bpMin('768px')
@mixin bpMin($point) {
    @media only screen and (min-width: $point) {
        @content;
    }
}


//! Position
//! usage  @include position(fixed,auto,0,-143px,0);
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {

    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;

}

//!
//! Transitions
//! usage  @include transition(color .3s ease);
//!
//!
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}
