/* 
* Home Page Styles
* 01 Top Nav Styles
* 02 Main Header Styles
* 03 Welcome Slider
* 04 Search Wrapper Style
* 05 Tab Styles
*/

/*==============================
* 01 Top Nav Styles
===============================*/
.tst-topnav-wrapper{

    font-size: 16px;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: 1.6px;
    box-shadow: 8px 1px 2px 0px rgba(221, 221, 221, 0.12);
    padding:  0px;
    background: rgba(255, 255, 255, 0.08);


    >nav{

        @extend %main-container-width;

        li{
            padding: 18px 15px;
            display: inline-block;

            &:last-child{

                padding-right: 0;

            }
        }
    }


    .nav-link {

        color: $clr-white;
        font-size: 12px;        
        padding: 0;

        &:hover{

            background:none;

        }

    }

}

/*===========================================
* 02 Main Header Styles
============================================*/

.tst-logo-nav-wrapper{

    padding-top: 50px;
    @extend %main-container-width;

    .tst-logo-text{  

        font-size: 30px;
        font-weight: 600; 
        line-height: 1.65;  
        color: $clr-white;
        margin-bottom: 10px;
        display: block;

        &:hover{

            color: $clr-white;
            text-decoration: none;

        }
    }

    .tst-main-nav-wrapper{

        button.navbar-toggle{

            margin:0;
            padding: 0;

            .tst-hamburger{
                        
                padding: 0;
                cursor: pointer;
                transition-timing-function: linear;
                transition-duration: .15s;
                transition-property: opacity,filter;
                text-transform: none;
                color: inherit;
                border: 0;
                background-color: transparent;

                .tst-hamburger-box{

                    position: relative;
                    display: inline-block;
                    width: 40px;
                    height: 24px;

                    .tst-hamburger-inner{   

                        top: 50%;
                        display: block;
                        margin-top: -2px;

                        position: absolute;
                        width: 40px;
                        height: 4px;
                        transition-timing-function: ease;
                        transition-duration: .15s;
                        transition-property: transform;
                        border-radius: 4px;
                        background-color: $clr-white;

                        &:after, &:before{
                            
                            display: block;
                            content: "";
                            position: absolute;
                            width: 40px;
                            height: 4px;
                            transition-timing-function: ease;
                            transition-duration: .15s;
                            transition-property: transform;
                            border-radius: 4px;
                            background-color: $clr-white;
                        }

                        &:before{

                            top: -10px;
                            transition: top .1s ease-in .25s,opacity .1s ease-in;

                        }
                        &:after{

                            bottom: -10px;
                            transition: bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19);

                        }

                    }

                }

            }

            &:not(.collapsed){

                .tst-hamburger .tst-hamburger-box .tst-hamburger-inner{

                    transition-delay: .12s;
                    transition-timing-function: cubic-bezier(.215,.61,.355,1);
                    transform: rotate(225deg);

                    &:after{

                        bottom: 0;
                        transition: bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s;
                        transform: rotate(-90deg);

                    } 
                    
                    &:before{
                        
                        top: 0;
                        transition: top .1s ease-out,opacity .1s ease-out .12s;
                        opacity: 0;

                    }

                }
            }
                            

        }

        .navbar-nav{
            .nav-item{

                @include bpMin('768px'){

                    padding: 18px 15px;
    
                }


                &:last-child{

                    padding-right: 0;

                }

            }

            .nav-link{

                padding: 0;
                color:$clr-purple;
                font-weight: 600;                
                @include transition(all .4s ease);


                @include bpMin('768px'){

                    &:after{
                    
                        content: '';
                        display: block;
                        height:3px;
                        background: $clr-white; 
                        width:0;
                        border-radius: 10px;
                        @include transition(all .5s ease);
                        @include position(absolute,auto,20%,0,20%);
                    }
    
                    &:hover,&.active,&:active,&:focus{
    
                        color: $clr-white;
                        background: none;
    
                        &:after{
    
                            width:auto;
                            bottom: -11px;
                        }
                    }
                }


                @include bpMax('767px'){

                    padding:10px;
                    color:$clr-white;

                    &.active,&:hover{

                        background: $clr-white;
                        color: $clr-purple;

                    }
    
                }
            }

            @include bpMax('767px'){

                margin: auto;
                background: $clr-blue-dark;
                border:1px solid  transparentize($clr-white, .6);

            }

        }

        .navbar-collapse{

            @include bpMax('767px'){

                border: none;
                padding: 0;

            }
        }

    }

}

/*===========================================
* 03 Welcome Slider
============================================*/

.tst-page-header{

    margin-bottom: 8rem;

}

.tst-welcome-slider-wrapper{
    
    margin:0 auto 2rem auto;
    @extend %main-container-width;

    .tst-welcome-slider-content{

        float:left;
        width:425px;
        margin-top:3rem;
        margin-bottom: 2rem;
        color:  $clr-white ;
        opacity: 0;
        @include transition(all .5s ease);
        transform  :translate(-100%, 0);
        .tst-welcome-txt1{

            max-width: 350px;
            font-size: 45px;
            font-weight: 500;
            letter-spacing: normal;
            text-align: left;
            line-height: 60px;
            margin-top: 10rem; 

            @include bpMax('600px'){

                margin-top: 4rem;
                font-size: 30px;
                line-height: 40px;
            }

        }
        .tst-welcome-txt2{

            font-size: 30px;
            font-weight: 500;
            letter-spacing: normal;
            text-align: left;
            line-height: 40px;
            margin-top: 10rem; 
            margin-bottom: 3rem; 

            @include bpMax('600px'){

                margin-top: 4rem;
                font-size: 20px;
                line-height: 30px;
            }

        }

        .tst-note{

            font-weight: 400;
            font-size: 12px;
            margin-bottom: 2rem; 
            opacity: .8;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
        .tst-list-style{
            white-space: nowrap;
            
            @include bpMax('600px'){
                li{
                    margin-bottom: 1rem;
                }
            }
        }
        .tst-link{
            color:$clr-white;
            display: inline-block;
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        .tst-btn-style-1{

            margin-top: 4rem;
        }



    }

    .tst-slider-img{

        @include position(absolute,0,0,0,auto);
        margin:auto;
        width: 60%;
        @include transition(transform .5s ease);
        transform  :scale(0, 0);
        transform-origin: center;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-height: 100%;
        }
    }
    .carousel-indicators{
        
        opacity: .5;
        bottom: 0;
    }
    .carousel-inner{

        min-height:540px;

        @include bpMax('600px'){

            min-height:510px;
        }
        .item.active {

            .tst-welcome-slider-content{
                opacity: 1;
                transform  :translate(0, 0);
            }
            .tst-slider-img{
                
                transform  :scale(1, 1);
            }
        }
    }
    
    @include bpMax('1199px'){

        .tst-welcome-slider-content{

            width:55%;
        }

        .tst-slider-img{
            width:40%;
        }

    }
}

/*===========================================
* 04 Search Wrapper Style
============================================*/

.tst-search-wrapper{

    
    @include bpMin('992px'){

        max-width: 600px;


    }

    @extend %main-container-width;

    .tst-sub-title{

        color:$clr-white;
        text-align: center;
        margin:0 auto 2rem auto;
    }
    
    .tst-input-wrapper{
        
        box-shadow: 0 3px 20px 0  transparentize($clr-black, .8) ;
        background-color: $clr-white;    
        border-radius: 40px;
        overflow: hidden;    
        width: 125px;
        margin: auto;
        @include transition(all 1s ease);


        .form-control{

            background: $clr-white;
            width: calc(100% - 50px);
            border: none;
            outline: none;
            padding: 15px 20px 15px 30px;
            height: auto;
            display: inline-block;

            &:hover,&:focus,&:active{

                outline: none;
                box-shadow: none;

            }

        }

        .form-group{    
    
            width: 0;
            margin:0;  
        } 

        button{

            position: relative;
            right: 0;

        }

        &.shown{

            width:100%;
            .form-group{          
                width: calc(100% - 135px);
            }

            button{
                right: -10px;
            }
        }


    }

    .tst-pricing {

        margin:1rem auto 2rem auto;
        color:$clr-white;

    }
}

/*===========================================
* 05 Tab Styles
============================================*/
 

.tst-tabs-wrapper {

    margin: 10rem auto 3rem auto;    
    @extend %main-container-width; 
    .tab-pane{

        @include transition(all 1s ease);
        transform: translate(80%, 0);
        &.removed{
            
            transform: translate(-80%, 0);
        }
        &.selected{
            
            transform: translate(0, 0);
        }
    }

	.nav-tabs {

        border: none;
        font-size: 0;
		.tst-tab-note {

			display: none;
			font-size: 12px;
            font-weight: 400;
            
        }
        
		.active {

			.tst-tab-note {

                display: block;
                
			}
        }
        
		>li {

			background: $clr-violet;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			text-align: center;
			padding: 10px 25px;
			cursor: pointer;
			transition: all ease-in; 
            margin-left: -4px;
            margin-right: -4px;
			float: none;
            display: inline-block;
            
			.tst-tab-title {

				font-weight: bold;
				font-size: 15px;
				border: none;
                color: $clr-white;
                border-radius: 0;
				&:hover {

					border: none;
                    background: none;
                    
				}
			}
		}
		>.active {

			background: $clr-white;
			box-shadow: transparentize($clr-black, .8) 0px -4px 2px 2px;
            z-index: 1;            
			transform: scale(1.1,1.05);
            transform-origin: bottom;
            margin: 0 5px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            
			.tst-tab-title {

				font-size: 18px;
				border: none;
                color: $clr-blue;
                
			}
        }
        
        @include bpMax('767px'){
            
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 5px;


            >li{
                display: block;
                padding: 0;
                border-bottom: 1px solid $clr-blue-dark ;
                border-radius: 0;
                margin: 0;
            }
            >.active{
                transform: scale(1);
                margin: auto;
                border-radius: 0;
            }
        }
	}
	.tab-content {

		background: $clr-white;
		border-radius: 15px;
		box-shadow: transparentize($clr-black, .8) 0px 0px 4px 1px;
		position: relative;
        padding: 30px;
        
    }
    
    .tst-member{
        box-shadow:  transparentize($clr-black, .95) 0px 0px 3px 2px;
        border:0;
        border-radius: 10px;
        padding: 70px 0px 0 0px; 
        overflow: hidden;
        margin-bottom: 30px;
        background: rgb(125,120,214);
        background: linear-gradient(90deg, rgba(125,120,214,1) 0%, rgba(93,127,235,1) 100%); 

        .card-body{

            background: $clr-white;
            color: $clr-violet;

            .tst-avatar{

                position: relative;
                top: -45px;
                width:80px;
                height: 80px;
                border-radius: 50%;
                object-fit: cover;
                margin: auto auto -20px auto;
                border: 3px solid $clr-white;
           
            }
        }

        .tst-person-dtls{

            font-size: 12px;
            padding: 0 0 20px 0; 

            .tst-name{

                font-size: 14px;
                text-transform: uppercase;
                margin-top: 6px; 
                font-weight: bold; 

            }
            
            .tst-designation{

                color: $clr-black;
                margin-bottom: 20px;

            }
            
            .tst-remove{

                background: $clr-orange-light;
                color:$clr-white;
                border-radius: 50%;
                padding: 8px 12px;
                display: inline-block;
                @include transition(all .4s ease);
                box-shadow: transparentize($clr-black, .8) 0px 0px 1px 1px;

                &:hover{
                    
                    background: darken($clr-orange-light, 20%);
                    box-shadow: transparentize($clr-black, .8) 2px 2px  7px 1px;
                }

            }
            

        }


     } 

    .tst-tab-title-wrapper{

        margin-bottom: 20px;

        .tst-table-settings{
            color:$clr-grey;
        }


    }

    .tst-table-head-wrapper{
        li{
            a{
                font-weight: bold;
                color:$clr-blue-dark1;
            }
        }
    }

    .tst-statics-table{
        
        color:$clr-blue-dark1;

        a{
            color:$clr-blue-dark1;

        }
        .tst-avatar{

            width:50px;
            height:50px;
            border-radius: 50%;


        }
        
        th,td{
            vertical-align: middle;
            border-bottom: 1px solid $clr-blue-light;


            &.no-sort{
                &:after{
                    display: none;
                }
            }
        }

        .tst-drag-drop{
            color: $clr-blue-light;
            font-size: 20px;

        }

        tr{
            background: $clr-white;
            @include transition(all .4s ease);

            &.selected{

                box-shadow: 0 0 8px 0px  $clr-blue-light;
                transform: scale(1.1,1.05);

                @include bpMax('1199px'){
                    
                    transform: scale(1);
                    background: transparentize($clr-blue-light, .7);

                }
            }
        }

        th{
            &:after,&:before{
                
                font-family: FontAwesome !important;
                display: block;
                opacity: .5;
                @include position(absolute,auto,8px,8px,auto);
            }
            &.sorting{

                &:before{
                    content:"\f175";
                    right: 17px;    
                }
                &:after{
                    content:"\f176";
                }
            }
            &.sorting_asc{
                
                &:after{
                    content:"\f176";
                }
                &:before{
                    display: none;
                }
            }
            &.sorting_desc{
                
                &:after{
                    content:"\f175";
                }
                &:before{
                    display: none;
                }
            }
        }

        .tst-drag-drop{
            cursor: grab;
        }


    }
}
