doctype html
html(lang='en')
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		script( src="https://kit.fontawesome.com/33a88946fa.js", crossorigin="anonymous" )
		link(href='https://fonts.googleapis.com/css?family=Poppins&display=swap', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap', rel='stylesheet')
		link(href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css	', rel='stylesheet')
		link(href='css/styles.css', rel='stylesheet')
		title Sebin Simon | test HTML


	body 

		include ./_partials/_header.pug

		include ./_partials/_search.pug

		include ./_partials/_tabs.pug 


		script(src='https://code.jquery.com/jquery-1.12.4.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
		script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js', crossorigin='anonymous')
		script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js', crossorigin='anonymous')
		script(src='js/main.js' , crossorigin='anonymous')