/*=======================================
Utilities / Helpers scsss
==============================================*/
.tst-topnav-wrapper > nav, .tst-logo-nav-wrapper, .tst-welcome-slider-wrapper, .tst-search-wrapper, .tst-tabs-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*=======================================
Base Styles
==============================================*/
body {
  font-family: Poppins;
  background-image: url(../images/body-bg.svg), linear-gradient(152deg, #8909ad -32%, #1f08a2 79%);
  background-size: contain, cover;
  background-repeat: no-repeat;
  background-position: top right;
}

img {
  max-width: 100%;
}

.navbar-right {
  margin-right: 0;
  padding-right: 0;
}

.tst-link {
  position: relative;
}

.tst-link:after {
  content: '';
  display: block;
  height: 2px;
  background: #ffffff;
  width: 0;
  transition: width 0.4s ease;
  position: absolute;
  top: auto;
  right: 0;
  bottom: -1px;
  left: 0;
}

.tst-link:hover {
  text-decoration: none;
}

.tst-link:hover:after {
  width: 100%;
}

.tst-btn-style-1 {
  border-radius: 33px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #d56554;
  outline: none;
  border: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 24px;
  transition: all 0.4s ease;
}

.tst-btn-style-1:hover, .tst-btn-style-1:active {
  box-shadow: 13px 7px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #c54431;
}

.tst-btn-style-2 {
  padding: 15px 40px;
  border-radius: 40px;
  background: #8909ad;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #8909ad 0%, #8909ad 25%, #1f08a2 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  transition: all 0.4s ease;
  border: none;
  outline: none;
  opacity: .9;
}

.tst-btn-style-2.btn-sm {
  padding: 5px 20px;
}

.tst-btn-style-2:hover, .tst-btn-style-2:active {
  opacity: 1;
}

.tst-vcenter {
  display: inline-block;
  vertical-align: middle;
}

h3.sub-title {
  color: #174a84;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

@media only screen and (max-width: 1199px) {
  .tst-table-wrapper {
    overflow: auto;
  }
}

.tst-no-wrap {
  white-space: nowrap;
}

.tst-checkbox {
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.tst-checkbox > span {
  color: #34495E;
  padding: 0.5rem 0.25rem;
}

.tst-checkbox > input {
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #ffffff;
  cursor: pointer;
}

.tst-checkbox > input:checked {
  border: 1px solid #000000;
}

.tst-checkbox > input:checked + span::before {
  font-size: 14px;
  content: "\f00c";
  display: block;
  font-family: FontAwesome;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 3px;
  top: 5px;
}

.tst-checkbox > input:active {
  border: 2px solid #34495E;
}

.tst-list-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tst-list-style li {
  vertical-align: middle;
  margin-bottom: 1.5rem;
}

.tst-list-style li:before {
  content: "\f058";
  color: #6ac259;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 20px;
}

/*=======================================
Home page Styles
==============================================*/
/* 
* Home Page Styles
* 01 Top Nav Styles
* 02 Main Header Styles
* 03 Welcome Slider
* 04 Search Wrapper Style
* 05 Tab Styles
*/
/*==============================
* 01 Top Nav Styles
===============================*/
.tst-topnav-wrapper {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.69;
  letter-spacing: 1.6px;
  box-shadow: 8px 1px 2px 0px rgba(221, 221, 221, 0.12);
  padding: 0px;
  background: rgba(255, 255, 255, 0.08);
}

.tst-topnav-wrapper > nav li {
  padding: 18px 15px;
  display: inline-block;
}

.tst-topnav-wrapper > nav li:last-child {
  padding-right: 0;
}

.tst-topnav-wrapper .nav-link {
  color: #ffffff;
  font-size: 12px;
  padding: 0;
}

.tst-topnav-wrapper .nav-link:hover {
  background: none;
}

/*===========================================
* 02 Main Header Styles
============================================*/
.tst-logo-nav-wrapper {
  padding-top: 50px;
}

.tst-logo-nav-wrapper .tst-logo-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.65;
  color: #ffffff;
  margin-bottom: 10px;
  display: block;
}

.tst-logo-nav-wrapper .tst-logo-text:hover {
  color: #ffffff;
  text-decoration: none;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle {
  margin: 0;
  padding: 0;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger {
  padding: 0;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box .tst-hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #ffffff;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:after, .tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:before {
  display: block;
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #ffffff;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:before {
  top: -10px;
  transition: top .1s ease-in .25s,opacity .1s ease-in;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:after {
  bottom: -10px;
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle:not(.collapsed) .tst-hamburger .tst-hamburger-box .tst-hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg);
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle:not(.collapsed) .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg);
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper button.navbar-toggle:not(.collapsed) .tst-hamburger .tst-hamburger-box .tst-hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0;
}

@media only screen and (min-width: 768px) {
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-item {
    padding: 18px 15px;
  }
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link {
  padding: 0;
  color: #d180f9;
  font-weight: 600;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 768px) {
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:after {
    content: '';
    display: block;
    height: 3px;
    background: #ffffff;
    width: 0;
    border-radius: 10px;
    transition: all 0.5s ease;
    position: absolute;
    top: auto;
    right: 20%;
    bottom: 0;
    left: 20%;
  }
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:hover, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link.active, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:active, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:focus {
    color: #ffffff;
    background: none;
  }
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:hover:after, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link.active:after, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:active:after, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:focus:after {
    width: auto;
    bottom: -11px;
  }
}

@media only screen and (max-width: 767px) {
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link {
    padding: 10px;
    color: #ffffff;
  }
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link.active, .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav .nav-link:hover {
    background: #ffffff;
    color: #d180f9;
  }
}

@media only screen and (max-width: 767px) {
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-nav {
    margin: auto;
    background: #29134a;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}

@media only screen and (max-width: 767px) {
  .tst-logo-nav-wrapper .tst-main-nav-wrapper .navbar-collapse {
    border: none;
    padding: 0;
  }
}

/*===========================================
* 03 Welcome Slider
============================================*/
.tst-page-header {
  margin-bottom: 8rem;
}

.tst-welcome-slider-wrapper {
  margin: 0 auto 2rem auto;
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content {
  float: left;
  width: 425px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #ffffff;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translate(-100%, 0);
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-welcome-txt1 {
  max-width: 350px;
  font-size: 45px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  line-height: 60px;
  margin-top: 10rem;
}

@media only screen and (max-width: 600px) {
  .tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-welcome-txt1 {
    margin-top: 4rem;
    font-size: 30px;
    line-height: 40px;
  }
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-welcome-txt2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: left;
  line-height: 40px;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  .tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-welcome-txt2 {
    margin-top: 4rem;
    font-size: 20px;
    line-height: 30px;
  }
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-note {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 2rem;
  opacity: .8;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-list-style {
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-list-style li {
    margin-bottom: 1rem;
  }
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-link {
  color: #ffffff;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tst-welcome-slider-wrapper .tst-welcome-slider-content .tst-btn-style-1 {
  margin-top: 4rem;
}

.tst-welcome-slider-wrapper .tst-slider-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  margin: auto;
  width: 60%;
  transition: transform 0.5s ease;
  transform: scale(0, 0);
  transform-origin: center;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tst-welcome-slider-wrapper .tst-slider-img img {
  max-height: 100%;
}

.tst-welcome-slider-wrapper .carousel-indicators {
  opacity: .5;
  bottom: 0;
}

.tst-welcome-slider-wrapper .carousel-inner {
  min-height: 540px;
}

@media only screen and (max-width: 600px) {
  .tst-welcome-slider-wrapper .carousel-inner {
    min-height: 510px;
  }
}

.tst-welcome-slider-wrapper .carousel-inner .item.active .tst-welcome-slider-content {
  opacity: 1;
  transform: translate(0, 0);
}

.tst-welcome-slider-wrapper .carousel-inner .item.active .tst-slider-img {
  transform: scale(1, 1);
}

@media only screen and (max-width: 1199px) {
  .tst-welcome-slider-wrapper .tst-welcome-slider-content {
    width: 55%;
  }
  .tst-welcome-slider-wrapper .tst-slider-img {
    width: 40%;
  }
}

/*===========================================
* 04 Search Wrapper Style
============================================*/
@media only screen and (min-width: 992px) {
  .tst-search-wrapper {
    max-width: 600px;
  }
}

.tst-search-wrapper .tst-sub-title {
  color: #ffffff;
  text-align: center;
  margin: 0 auto 2rem auto;
}

.tst-search-wrapper .tst-input-wrapper {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 40px;
  overflow: hidden;
  width: 125px;
  margin: auto;
  transition: all 1s ease;
}

.tst-search-wrapper .tst-input-wrapper .form-control {
  background: #ffffff;
  width: calc(100% - 50px);
  border: none;
  outline: none;
  padding: 15px 20px 15px 30px;
  height: auto;
  display: inline-block;
}

.tst-search-wrapper .tst-input-wrapper .form-control:hover, .tst-search-wrapper .tst-input-wrapper .form-control:focus, .tst-search-wrapper .tst-input-wrapper .form-control:active {
  outline: none;
  box-shadow: none;
}

.tst-search-wrapper .tst-input-wrapper .form-group {
  width: 0;
  margin: 0;
}

.tst-search-wrapper .tst-input-wrapper button {
  position: relative;
  right: 0;
}

.tst-search-wrapper .tst-input-wrapper.shown {
  width: 100%;
}

.tst-search-wrapper .tst-input-wrapper.shown .form-group {
  width: calc(100% - 135px);
}

.tst-search-wrapper .tst-input-wrapper.shown button {
  right: -10px;
}

.tst-search-wrapper .tst-pricing {
  margin: 1rem auto 2rem auto;
  color: #ffffff;
}

/*===========================================
* 05 Tab Styles
============================================*/
.tst-tabs-wrapper {
  margin: 10rem auto 3rem auto;
}

.tst-tabs-wrapper .tab-pane {
  transition: all 1s ease;
  transform: translate(80%, 0);
}

.tst-tabs-wrapper .tab-pane.removed {
  transform: translate(-80%, 0);
}

.tst-tabs-wrapper .tab-pane.selected {
  transform: translate(0, 0);
}

.tst-tabs-wrapper .nav-tabs {
  border: none;
  font-size: 0;
}

.tst-tabs-wrapper .nav-tabs .tst-tab-note {
  display: none;
  font-size: 12px;
  font-weight: 400;
}

.tst-tabs-wrapper .nav-tabs .active .tst-tab-note {
  display: block;
}

.tst-tabs-wrapper .nav-tabs > li {
  background: #734bbe;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  padding: 10px 25px;
  cursor: pointer;
  transition: all ease-in;
  margin-left: -4px;
  margin-right: -4px;
  float: none;
  display: inline-block;
}

.tst-tabs-wrapper .nav-tabs > li .tst-tab-title {
  font-weight: bold;
  font-size: 15px;
  border: none;
  color: #ffffff;
  border-radius: 0;
}

.tst-tabs-wrapper .nav-tabs > li .tst-tab-title:hover {
  border: none;
  background: none;
}

.tst-tabs-wrapper .nav-tabs > .active {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 2px 2px;
  z-index: 1;
  transform: scale(1.1, 1.05);
  transform-origin: bottom;
  margin: 0 5px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tst-tabs-wrapper .nav-tabs > .active .tst-tab-title {
  font-size: 18px;
  border: none;
  color: #144a8a;
}

@media only screen and (max-width: 767px) {
  .tst-tabs-wrapper .nav-tabs {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .tst-tabs-wrapper .nav-tabs > li {
    display: block;
    padding: 0;
    border-bottom: 1px solid #29134a;
    border-radius: 0;
    margin: 0;
  }
  .tst-tabs-wrapper .nav-tabs > .active {
    transform: scale(1);
    margin: auto;
    border-radius: 0;
  }
}

.tst-tabs-wrapper .tab-content {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 1px;
  position: relative;
  padding: 30px;
}

.tst-tabs-wrapper .tst-member {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 3px 2px;
  border: 0;
  border-radius: 10px;
  padding: 70px 0px 0 0px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #7d78d6;
  background: linear-gradient(90deg, #7d78d6 0%, #5d7feb 100%);
}

.tst-tabs-wrapper .tst-member .card-body {
  background: #ffffff;
  color: #734bbe;
}

.tst-tabs-wrapper .tst-member .card-body .tst-avatar {
  position: relative;
  top: -45px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto auto -20px auto;
  border: 3px solid #ffffff;
}

.tst-tabs-wrapper .tst-member .tst-person-dtls {
  font-size: 12px;
  padding: 0 0 20px 0;
}

.tst-tabs-wrapper .tst-member .tst-person-dtls .tst-name {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 6px;
  font-weight: bold;
}

.tst-tabs-wrapper .tst-member .tst-person-dtls .tst-designation {
  color: #000000;
  margin-bottom: 20px;
}

.tst-tabs-wrapper .tst-member .tst-person-dtls .tst-remove {
  background: #ff7c83;
  color: #ffffff;
  border-radius: 50%;
  padding: 8px 12px;
  display: inline-block;
  transition: all 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px;
}

.tst-tabs-wrapper .tst-member .tst-person-dtls .tst-remove:hover {
  background: #ff1622;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 7px 1px;
}

.tst-tabs-wrapper .tst-tab-title-wrapper {
  margin-bottom: 20px;
}

.tst-tabs-wrapper .tst-tab-title-wrapper .tst-table-settings {
  color: #ddd;
}

.tst-tabs-wrapper .tst-table-head-wrapper li a {
  font-weight: bold;
  color: #174a84;
}

.tst-tabs-wrapper .tst-statics-table {
  color: #174a84;
}

.tst-tabs-wrapper .tst-statics-table a {
  color: #174a84;
}

.tst-tabs-wrapper .tst-statics-table .tst-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tst-tabs-wrapper .tst-statics-table th, .tst-tabs-wrapper .tst-statics-table td {
  vertical-align: middle;
  border-bottom: 1px solid #a5c9ff;
}

.tst-tabs-wrapper .tst-statics-table th.no-sort:after, .tst-tabs-wrapper .tst-statics-table td.no-sort:after {
  display: none;
}

.tst-tabs-wrapper .tst-statics-table .tst-drag-drop {
  color: #a5c9ff;
  font-size: 20px;
}

.tst-tabs-wrapper .tst-statics-table tr {
  background: #ffffff;
  transition: all 0.4s ease;
}

.tst-tabs-wrapper .tst-statics-table tr.selected {
  box-shadow: 0 0 8px 0px #a5c9ff;
  transform: scale(1.1, 1.05);
}

@media only screen and (max-width: 1199px) {
  .tst-tabs-wrapper .tst-statics-table tr.selected {
    transform: scale(1);
    background: rgba(165, 201, 255, 0.3);
  }
}

.tst-tabs-wrapper .tst-statics-table th:after, .tst-tabs-wrapper .tst-statics-table th:before {
  font-family: FontAwesome !important;
  display: block;
  opacity: .5;
  position: absolute;
  top: auto;
  right: 8px;
  bottom: 8px;
  left: auto;
}

.tst-tabs-wrapper .tst-statics-table th.sorting:before {
  content: "\f175";
  right: 17px;
}

.tst-tabs-wrapper .tst-statics-table th.sorting:after {
  content: "\f176";
}

.tst-tabs-wrapper .tst-statics-table th.sorting_asc:after {
  content: "\f176";
}

.tst-tabs-wrapper .tst-statics-table th.sorting_asc:before {
  display: none;
}

.tst-tabs-wrapper .tst-statics-table th.sorting_desc:after {
  content: "\f175";
}

.tst-tabs-wrapper .tst-statics-table th.sorting_desc:before {
  display: none;
}

.tst-tabs-wrapper .tst-statics-table .tst-drag-drop {
  cursor: grab;
}

/*# sourceMappingURL=styles.css.map */
