header.tst-page-header
    .tst-topnav-wrapper 
        nav
            ul.nav.navbar-nav.navbar-right.text-right
                li.nav-item.active
                    a.nav-link.tst-link(href='#') Live Chat
                li.nav-item
                    a.nav-link.tst-link(href='#') Login
                li.nav-item
                    a.nav-link.tst-link(href='#') Support

            .clearfix    

    .tst-logo-nav-wrapper  
        nav.navbar.tst-main-nav-wrapper 
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#mainnav', aria-expanded='false')
                    span.sr-only Toggle navigation
                    .tst-hamburger
                        .tst-hamburger-box
                            .tst-hamburger-inner
                .tst-logo-wrapper
                    a.tst-logo-text(href='#', title='Space drive')
                        | SpaceDrive
            #mainnav.collapse.navbar-collapse.navbar-right
                ul.nav.navbar-nav
                    li.nav-item
                        a.nav-link.active(href='#') Home 
                    li.nav-item
                        a.nav-link(href='#') Domain 
                    li.nav-item
                        a.nav-link(href='#') Hosting 
                    li.nav-item
                        a.nav-link(href='#') WHMCS 
                    li.nav-item
                        a.nav-link(href='#') Blog 
                    li.nav-item
                        a.nav-link(href='#') Contact 
        
 
        .clearfix
    .tst-welcome-slider-wrapper
        #myCarousel.carousel.slide(data-ride='carousel', data-interval="70000")
            // Indicators
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1') 
            // Wrapper for slides
            .carousel-inner
                .item.active
                    .tst-welcome-slider-content
                        h1.tst-welcome-txt1
                            | Powerful
                            | Hosting Service
                            | Provider
                        .tst-note
                            | Millions of customers rely on our products to  
                        button.tst-btn-style-1 BUY NOW
                    .tst-slider-img
                        img(src='images/slider/slider2.png', alt='Los Angeles')
                    .clearfix
                .item
                    
                    .tst-welcome-slider-content
                        h2.tst-welcome-txt2
                            | Secure service your website
                        .tst-note
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        ul.tst-list-style

                            li Web assets delivery
                            li 24/7 Dedicated  Support
                            li Global data centers
                        a.tst-link(href="#") Read more... 
                    .tst-slider-img
                        img(src='images/slider/slider1.png', alt='Los Angeles')
                    .clearfix

     

        
