section.tst-search-wrapper
  h2.tst-sub-title Search Your Domain
  .tst-input-wrapper
    form.form-inline
      .form-group.pull-left
        input#staticEmail2.form-control(type='text', readonly='', placeholder='example.com')
        span.tst-dummy-domain .com
      button.btn.btn-primary.tst-btn-style-2(type='submit') Search
  ul.tst-pricing.list-inline.text-center
    li .COM $2.99
    li .UK $9.99
    li .NET $8.00
    li .ORG $4.79
    li .CO $3.99
