section.tst-tabs-wrapper
  .tst-tab-title.text-center
    ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a.tst-tab-title(href='#company', aria-controls='company', role='tab', data-toggle='tab')
          | COMPANIES
          .tst-tab-note Companies Structure  
      li(role='presentation')
        a.tst-tab-title(href='#stat', aria-controls='stat', role='tab', data-toggle='tab')
          | STATISTICS
          .tst-tab-note employees statics information
      li(role='presentation')
        a.tst-tab-title(href='#proj', aria-controls='proj', role='tab', data-toggle='tab')
          | PROJECTS
          .tst-tab-note Projects Informations
  .tab-content
    #company.tab-pane.active.selected(role='tabpanel')
      .row
        mixin members(name,img,design,salutation)
          .col-md-3.col-sm-4
            .card.tst-member(style='')
              .card-body.text-center
                  figure.tst-avatar
                      img(src=img)
                  .tst-person-dtls
                      .tst-salutation #{salutation}
                      h3.tst-name #{name}
                      .tst-designation
                          | #{design}
                      a(href='#').tst-remove
                          i.fa.fa-trash-alt
        

        +members('Ahmed Bin Zayed','images/avatar/1.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/3.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/2.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/3.png','General Manager','Sheikh')    
        +members('Ahmed Bin Zayed','images/avatar/1.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/3.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/1.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/2.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/3.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/2.png','General Manager','Sheikh')
        +members('Ahmed Bin Zayed','images/avatar/1.png','General Manager','Sheikh')

    #stat.tab-pane(role='tabpanel')
      .tst-tab-title-wrapper
        .pull-left
          h3.sub-title  Employees (17)
        
        .pull-right 
          button.btn.btn-primary.tst-btn-style-2.btn-sm.tst-vcenter(type='submit')
              
            i.fa.fa-plus  &nbsp;
            | Add
          | &nbsp; &nbsp;

          a.tst-vcenter.tst-table-settings(href="#") 
            i.fa.fa-cog
        
        .clearfix
      .tst-tab-content-wrapper
        .tst-table-head-wrapper
            ul.list-inline
              li
                a(href="#") Delete
              li                
                a(href="#") Print
              li                
                a(href="#") Export
              li                
                a(href="#") Make Manager
        .tst-table-wrapper
          table.tst-statics-table.table.nowrap(id="dataTable1")


            thead
              tr
                th.no-sort
                  
                  label.tst-checkbox 
                    input.tst-checkbox(type="checkbox" value="")
                    span
                th
                  | Name
            
                th
                  | Email
            
                th
                  | Title
            
                th
                  | Date Modified
            
                th
                  | Dundies
                th.no-sort

              
            tbody

              mixin tableList(img,title,mail,designation,date,dundies)
                tr
                    td.no-sort
                      label.tst-checkbox 
                        input.tst-checkbox.tst-user-check(type="checkbox" value="all" id="all")
                        span

                    td 
                      figure.tst-avatar.tst-vcenter
                        img(src=img)

                      .ts-title.tst-vcenter=title
                      
                    td
                      a(href="#")=mail

                    td

                      span.tst-badge.tst-no-wrap
                        | #{designation}

                    td
                      | #{date}

                    td
                      | #{dundies}

                    td.no-sort
                      span.tst-drag-drop
                        i.fa.fa-ellipsis-v
                        i.fa.fa-ellipsis-v

              +tableList('images/avatar/1.png','Mohammed Bin Zayed','mogamedbinz@gmail.com','Regional Manager','07/12/2000','16')
              +tableList('images/avatar/3.png','Ajmal Bin Ansari','ajmalnin@gmail.com','Assistant Manager','07/12/2000','16')
              +tableList('images/avatar/2.png','Irfan Ahamed','Irfanahamed@gmail.com','Sales Representative','07/12/2000','16')
              +tableList('images/avatar/1.png','Shahabaz Amman','shahabazamman@gmail.com','Zonal Manager','07/12/2000','16')
              +tableList('images/avatar/3.png','Ahmed Bin Zayed','ahamed@gmail.com','Assistant Manager','07/12/2000','16')

          


    #proj.tab-pane(role='tabpanel')
